.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px; 
  
  .list-panel {
    width: 29%;
  }
  
  .user-panel {
    width: 69%;
  }
  
}

.spacer {
  flex: 1 1 auto;
}